body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #343a40;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.filter-button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #218838;
}
.create-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.create-button:hover {
    background-color:  #218838;
}
.supp-button{
    background-color:  rgb(205, 18, 18);
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
#tach {
    font-weight: bolder;
}
#tach a {
    text-decoration: none;
    color: #343a40;
}
#r1{
    width: 60%;
}
#r2{
    background-color: #007bff;
    width: 20%;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#cree{
        margin-top: 5px;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
}
#creer{
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}
#dd{
    width: 60%;
    padding: 10px;
    border: 1px solid #ced4da;
    margin: 10px;
}
#dd h1{
    color: #0c6f23;
    text-align: center;
}